<?xml version="1.0" ?>

<!--

/**
 * @author Kashyap Team
 * @copyright Copyright (c) 2018 Kashyap (http://kashyapsoftware.com/)
 * @package Kashyap_Banners
*/

-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Kashyap_Banners::Banners" sortOrder="10" title="Banners">
					<resource id="Kashyap_Banners::Banners_save" sortOrder="10" title="Save Banners"/>
					<resource id="Kashyap_Banners::Banners_delete" sortOrder="20" title="Delete Banners"/>
					<resource id="Kashyap_Banners::Banners_update" sortOrder="30" title="Update Banners"/>
					<resource id="Kashyap_Banners::Banners_view" sortOrder="40" title="View Banners"/>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
