<?xml version="1.0"?>
<!--
    
/**
 * @author Kashyap Team
 * @copyright Copyright (c) 2018 Kashyap (softwarekashyap@gmail.com)
 * @package Kashyap_Buynow
*/

-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <banner>
            <general>
                <enabled>0</enabled>
                <loop>1</loop>
                <nav>1</nav>
                <pagination>1</pagination>
                <autoplay>1</autoplay>
                <autoplayhover>1</autoplayhover>
                <margin>10</margin>
                <autoplayspeed>200</autoplayspeed>
                <autoplaytimeout>5000</autoplaytimeout>
            </general>
        </banner>
    </default>
</config>
