<?xml version="1.0" ?>

<!--

/**
 * @author Kashyap Team
 * @copyright Copyright (c) 2018 Kashyap (http://kashyapsoftware.com/)
 * @package Kashyap_Banners
*/

-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Kashyap::ks_banners" module="Kashyap_Banners" resource="Magento_Backend::content" sortOrder="120" title="Kashyap Banners"/>
		<add action="kashyap_banners/banners/index" id="Kashyap_Banners::kashyap_banners_banners" module="Kashyap_Banners" parent="Kashyap::ks_banners" resource="Magento_Backend::content" sortOrder="10" title="Banners"/>	 
		<add id="Kashyap_Banners::configuration" title="Configuration" module="Kashyap_Banners" sortOrder="20" parent="Kashyap::ks_banners" action="adminhtml/system_config/edit/section/banner/" resource="Magento_Contact::contact" />
	</menu>
</config>
