<?xml version="1.0" ?>

<!--

/**
 * @author Kashyap Team
 * @copyright Copyright (c) 2018 Kashyap (http://kashyapsoftware.com/)
 * @package Kashyap_Banners
*/

-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="kashyap_banners" id="kashyap_banners">
			<module before="Magento_Backend" name="Kashyap_Banners"/>
		</route>
	</router>
</config>
